<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>WebChat</title>
</head>

<body>
  <div id="player" data-url=<%= url %>></div>
  <div class="synchronizer"><button id="synchronize">Synchronize</button></div>
  <div class="chat">
    <div class="chat-window">
      <div id="chat-output">

      </div>
      <div id="feedback-bar">
        <p id="feedback"></p>
      </div>
      <input id="owner" type="text" placeholder="Who">
      <input id="chat-message" type="text" placeholder="Write your message">
      <button id="send-message">Send</button>
    </div>
  </div>
  <script src="/chat.js"></script>
</body>

</html>